#my_table{
    
    text-align: center;
    margin-top: 50px;
    background-color: wheat;
}

#header{
    text-align: center;
    margin: 30px;
}

#paragraph{
    text-align: center;
    margin-top: 30px;
}

#search_text:hover{
    transform: scale(1.1);
}

h1{
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color: #b2e0df;
}

